/*============================================================================
	Notifications v1
============================================================================*/

.nav-pref {
	color: $primary;
	a, a:visited, a:active, a:focus, a:hover {
		color: $primary;
	}
	color: $primary;
}

