/*============================================================================
  SSO v1.0
============================================================================*/
/*============================================================================
	Notifications v1
============================================================================*/
/* line 5, theme/simple/sass/notifications/_notifications.scss */
.nav-pref {
    color: black;
    color: black;
}
  /* line 7, theme/simple/sass/notifications/_notifications.scss */
.nav-pref a, .nav-pref a:visited, .nav-pref a:active, .nav-pref a:focus, .nav-pref a:hover {
    color: black;
}
