$bg: #fff;	
$main: black;	
$lighter: #888;	
$darker: #222;	
$text: #093049;	
$text-darker: #222;	
$primary: black;	
$primary-hover: #444;	
$secondary: #444;	
$secondary-hover: #666;	
$grey: #ccc;	
$counter: red;
$menu-bg: $primary;
$menu-text: #fff;
$menu-bg-hover: white;
$menu-hover: $primary;

$border: #ddd;

$blue: #0088aa;
$green: #00aa44;
$red: #ff5555;

$grey0: #fafafa;
$grey1: #f0f0f0;
$grey2: #e0e0e0;
$grey3: #c0b0c0;
$grey4: #a0a0a0;
$grey5: #909090;
$grey6: #808080;
$grey7: #707070;
$grey8: #606060;
$grey9: #505050;
$grey10: #404040;

$grey: $grey5;
$dark: $grey10;

	
$bg: white;	
$counter: red;

$btn-primary-bg:  $primary;
$btn-primary-hover-bg: $primary;
$btn-secondary-bg:  $secondary;
$btn-secondary-hover-bg: $secondary;

$tb-bg: $blue;
$tb: white;
$tb-hover-bg: #15a1c4;
$tb-hover: white;
$tb-logo: $grey1;

$drawer-bg: $grey2;
$drawer-close-bg: $grey5;
$drawer: $dark;
$drawer-close: white;

$header-bg: inherit;
$header: black;
$header-bd: white;
$menu-bg: $header-bg;

