/*============================================================================
	Tabs	v1
============================================================================*/
nav.nav-sleek  {
	.nav-link {
		border-bottom: 1px solid $primary;
		color:  $primary;
		&.active {
			border-bottom: 3px solid $primary;
			color:  $primary;
		}
	}
} 

